<header class="site-header">
   <nav class="site-nav">
        <a class="menu-link" href="{{site.baseurl}}/">Início</a>
        <a class="menu-link" href="{{site.baseurl}}/about/">Sobre</a>
        <a class="menu-link" href="{{site.baseurl}}/entrar/">Whatsapp</a>
    </nav>
  <div class="wrapper jumbo">
     <a href="{{site.baseurl}}/"><img class="avatar" src="{{site.baseurl}}/images/{{site.picture}}" alt="avatar"></a>
   <h1 class="main-title">{{ site.title }}</h1>
    <h2 class="tagline">{{site.tagline}}</h2>
</div>
</header>
