<header class="site-header">
   <nav class="site-nav">
        <a class="menu-link" href="{{site.baseurl}}/">Início</a>
        <a class="menu-link" href="{{site.baseurl}}/about/">Sobre</a>
        <a class="menu-link" href="{{site.baseurl}}/contact/">Contato</a>
    </nav>
  <div class="wrapper jumbo">
     <a href="{{site.baseurl}}/"><img class="avatar" src="//i1.wp.com/jujuba.ml/images/{{site.picture}}?resize=100,100" alt="avatar"></a>
   <h1 class="main-title">{{ site.title }}</h1>
    <h2 class="tagline">{{site.tagline}}</h2>
</div>
</header>
